<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game Shelf</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"> </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"> </script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="fullbleed layout vertical">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Go Back To Game Shelf</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Displaying flash messages -->
  <div class="container">
    <div class = 'flash'>
    		  {% with messages = get_flashed_messages() %}
          {% if messages %}

            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="row">
  <h2> {{game.title}}</h2>
      <label for="">Cover: </label><br>
      <img src="{{game.cover}}" height="330" width="250"><br>
  <label for="">About this game: </label><br>
  {{game.description}}
  <br><br>
      <label for="">Platform: </label>
  {{platform.name}}
      <br>
      <label for="">Release Date: </label>
  {{game.release}}
  <a href="{{ url_for('edit_game', game_title=game.title) }}"> Edit </a>
  <a href="{{ url_for('delete_game', game_title=game.title) }}"> Delete </a>
  </div>
</div>
</body>
</html>
